body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: aqua;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

div{
  text-align: left;
}
h1{
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: blue;
  background-color: blueviolet;
}
table,thead,tr,td ,th{
  color: black;
  border-style: groove;
  
}
button{
  background-color:blueviolet;
  color: violet;
}
input{
  background-color: pink;
  text-align: center;
  text-decoration: aqua;
  
}
